@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


:root{
  --blue-theme-background-color:#1d1d1d;
  --blue-theme-main-color:rgb(40, 179, 213);
  --blue-theme-sub-text-color:#ffffff;
  --blue-theme-nav-background-color:#181818;
}

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  height: 100%;
}

body{
  background: var(--blue-theme-background-color);
  height: 100%;
}

#root{
  height:100%
}